<section class="jumbotron text-center pt-0">
  <div class="container">
    <img
      src="../../../../assets/img/banner.png"
      alt=""
      width="500"
      height="200"
    />
    <h1 class="jumbotron-heading">Person Application using NGRX</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don’t
      simply skip over it entirely.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Open React App</a>
    </p>
  </div>
</section>
